* {
    margin: 0px;
}

body {
    background-color: rgb(46, 46, 46);
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}

.header {
    background-color: rgb(244, 147, 164);
    color: whitesmoke;
    padding: 10px;
    
}

.header h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.nav a {
    color: whitesmoke;
    text-decoration: none;
    border-bottom: 1px solid whitesmoke;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 4px;
    margin-right: 4px;
}

.nav a {
    color: whitesmoke;
}

.hero {
    height: 100vh;
    background-color: deeppink;
}

.hero p {
    margin-bottom: 20px;
}

.hero a {
    background-color:  rgb(244, 147, 164);
    color: whitesmoke;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
}

.products {

}

.shop {

}

.footer {
    
}
